/*
 * This file sets the baseline for getting bulma.io to work nicely with 
 * SMF. Including directly styling default SMF HTML/CSS which mods use often.
 * 
 * Any color or font changes should go in the variant CSS.
 *
 * 1. Bulma Override
 * 2. Header
 * 3. Topic list
 * 4. The topic
 * 5. The post
 * 6. Poll
 * 7. Add/Edit
 * 8. Messages
 * 9. Stats Graph
 * 10. Stats Page
 * 11. Utility
 * 12. Accessibility
 * 13. SMF styles
 */

/*
mobile up to 768px
tablet between 769px and 979px
desktop between 980px and 1179px
widescreen above 1180px
*/

:root {
  --primary: #00d1b2;
  --primary-dark: #00c4a7;
  --link: #3273dc;
  --info: #209cee;
  --success: #23d160;
  --warning: #ffdd57;
  --danger: #ff3860;

  --white: #ffffff;
  --black: #0a0a0a;
  --light: #f5f5f5;
  --dark: #363636;

  --light-overlay: rgba(255, 255, 255, 0.1);
  --dark-overlay: rgba(0, 0, 0, 0.1);
}

html { min-height: 100%; }
body { min-height: 100%; }

.fa { font-weight: normal !important; }

/* ------------------------- */
/* BULMA OVERRIDE */
/* ------------------------- */

.normallist {
  /* Duplicates .content ul */
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1rem;
}

ul.reset,
ul.permission_groups {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.smalltext {
  /* Duplicates .is-size-6.5 */
  font-size: 0.9rem !important;
}

.input.is-auto,
.textarea.is-auto {
  width: auto !important;
  min-width: 0;
}

.card { margin-bottom: 1rem; }
.card-content { padding: 0.75rem; }

fieldset { 
  margin-bottom: 1rem;
  padding: 1rem; 
  border: 1px solid transparent; 
}

legend { padding: 0 1rem; font-weight: bold; }

@media screen and (min-width: 769px), print {
  .field-label { flex-grow: 2; }
}

.section.is-small ~ .section.is-small {
  padding-top: 0;
}

.button { transition: all 300ms ease; }

.content a { text-decoration: underline; }

.field-label.is-narrow {
  flex-grow: 1;
}

/* ------------------------- */
/* FORM */
/* ------------------------- */

.input_text {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;

  max-width: 100%;
  width: auto !important;
  min-width: 0;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

.pensieve-main-navbar {
  z-index: 50;
}

.pensieve-profile-bar-avatar img {
  max-width: 1.75rem;
  max-height: 1.75rem;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.breadcrumb a[title="Board Moderator"] {
  padding: 0 0.25rem;
}

.breadcrumb li .nav,
.breadcrumb li em {
  padding: 0.5em 0.75em;
}

.breadcrumb li > span ~ a {
  padding: 0;
}

.breadcrumb li > span {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

@media (max-width: 768px) {
  .breadcrumb a { padding: 0 0.5rem; }
}

.pagination {
  margin: 0;
}

code, pre { display: block; }

/* ------------------------- */
/* TOPIC LIST */
/* ------------------------- */

.topic-is-sticky {
  box-shadow: inset 3px 0 var(--primary);
  background: var(--dark-overlay);
}

.topic-is-locked {
  box-shadow: inset 3px 0 var(--danger);
}

/* ------------------------- */
/* THE TOPIC */
/* ------------------------- */

/* Make Previous/Next look like buttons */
.previous-next-buttons a {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  user-select: none;
  cursor: pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;

  /* is-small */
  border-radius: 2px;
  font-size: 0.75rem;
}

.previous-next-buttons a:not(:last-child) {
  margin-right: 0.5rem;
}

/* ------------------------- */
/* POST */
/* ------------------------- */

/* --- POST PROFILE --- */
.online-tag {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.post-profile-image-mobile {
  flex-shrink: 0;
}

.post-profile-image-mobile img {
  height: 50px;
  width: auto;
}

/* --- THE POST --- */

.post:after {
  clear: both;
  content: " ";
  display: table;
}

.the-post {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .the-post.the-post { padding-left: 2rem !important; }
}

.the-post-content {
  flex-grow: 1;
}

@media (min-width: 769px) {
  .post-signature { margin-left: 2rem !important; }
}

/* --- JUMPTO --- */
#display_jump_to input[type="button"] { display: none; }

/* ------------------------- */
/* POLL */
/* ------------------------- */

.voted:before {
  content: '\f046';
  font-family: fontawesome;
  display: inline-flex;
  margin-right: 0.5rem;
}

.bar-wrapper {
  width: 100%;
  height: 1rem;
}

.bar { 
  height: 1rem;
  border-radius: 2px;
  background: var(--primary);
}

/* ------------------------- */
/* ADD/EDIT POST */
/* ------------------------- */

.type-your-post textarea {
  position: relative;

  display: block;
  height: 2.25em;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 1em !important;

  font-size: 0.9rem;
  line-height: 1.5;

  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;

  vertical-align: top;
  background-color: white;
}

.post_options {
  column-count: 2;
}

.pensieve-post-attachments {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--primary);
}

/* ------------------------- */
/* MESSAGES */
/* ------------------------- */

.hide-image > img {
  display: none;
}

/* ------------------------- */
/* STATS GRAPH */
/* ------------------------- */

.stats-graph {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 200px;
  text-align: center;
  overflow-x: scroll;
}

.stats-graph li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.stats-graph_bar {
  width: 2rem;
  margin: 0 0.5rem;
  background: var(--primary);
}

/* ------------------------- */
/* STATS PAGE */
/* ------------------------- */

.pensieve-stat-list {
  display: grid;
  grid-template-columns: auto auto;
}

.pensieve-statsbar {
  display: flex;
  justify-content: space-between;
}

/* ------------------------- */
/* UTILITY */
/* ------------------------- */

.is-muted { opacity: 0.75; }

.is-size-6-5 { font-size: 0.9rem !important; }

.h-100 { height: 100% !important; }
.w-50 { width: 50%; }

.m-0 { margin: 0 !important; }
.m-1 { margin: 0.25rem !important; }
.m-2 { margin: 0.5rem !important; }
.m-3 { margin: 0.75rem !important; }
.m-4 { margin: 1rem !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 0.75rem !important; }
.mt-4 { margin-top: 1rem !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 0.75rem !important; }
.mb-4 { margin-bottom: 1rem !important; }

.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: 0.25rem !important; }
.mr-2 { margin-right: 0.5rem !important; }
.mr-3 { margin-right: 0.75rem !important; }
.mr-4 { margin-right: 1rem !important; }
.mr-auto { margin-right: auto; }

.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: 0.25rem !important; }
.ml-2 { margin-left: 0.5rem !important; }
.ml-3 { margin-left: 0.75rem !important; }
.ml-4 { margin-left: 1rem !important; }
.ml-auto { margin-left: auto; }

.p-0 { padding: 0 !important; }
.p-1 { padding: 0.25rem !important; }
.p-2 { padding: 0.5rem !important; }
.p-3 { padding: 0.75rem !important; }
.p-4 { padding: 1rem !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: 0.25rem !important; }
.pt-2 { padding-top: 0.5rem !important; }
.pt-3 { padding-top: 0.75rem !important; }
.pt-4 { padding-top: 1rem !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 0.25rem !important; }
.pb-2 { padding-bottom: 0.5rem !important; }
.pb-3 { padding-bottom: 0.75rem !important; }
.pb-4 { padding-bottom: 1rem !important; }

.pr-0 { padding-right: 0 !important; }
.pr-1 { padding-right: 0.25rem !important; }
.pr-2 { padding-right: 0.5rem !important; }
.pr-3 { padding-right: 0.75rem !important; }
.pr-4 { padding-right: 1rem !important; }

.pl-0 { padding-left: 0 !important; }
.pl-1 { padding-left: 0.25rem !important; }
.pl-2 { padding-left: 0.5rem !important; }
.pl-3 { padding-left: 0.75rem !important; }
.pl-4 { padding-left: 1rem !important; }

.section.is-small { padding: 1rem 1.5rem; }
.container.is-small { max-width: 600px; }

.flex-grow-0 { flex-grow: 0 !important; }
.flex-grow-1 { flex-grow: 1 !important; }

.align-items-center { align-items: center; }
.justity-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }

.flex-wrap { flex-wrap: wrap; }

.vertical-align-middle { vertical-align: middle !important; }

.word-break-break-word { word-break: break-word; }

.background-overlay-dark { background: var(--dark-overlay); }

.no-float { float: none; }

/* ------------------------- */
/* ACCESSIBILITY */
/* ------------------------- */

.skiplink .button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.skiplink .button:focus {
  z-index: 999999;
}

.is-hovered .navbar-dropdown {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
}
  .invisible:active,
  .invisible:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }

/* ------------------------- */
/* SMF */
/* ------------------------- */

/* --- GENERAL --- */

.cat_bar .title,
.title_bar .titlebg {
  padding: 0.5em 0.75em;
}

h3.catbg {
  display: flex;
  /* .title .is-5 .mb-4 */
  margin-bottom: 1rem !important;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.125;
}

.title_bar .title {
  display: flex;
}

h3.titlebg {
  display: flex;
  /* .title .is-6 .mb-4 */
  margin-bottom: 1rem !important;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125;
}

.catbg .help,
.titlebg .help {
  margin-right: 0.5rem;
}

.catbg .help .icon,
.titlebg .help .icon {
  height: 1rem;
  width: 1rem;
}

.catbg .floatleft,
.titlebg .floatleft {
  display: flex;
}

#smfAnnouncements dl {
  max-height: 300px;
  overflow-x: scroll;
}

.description {
  /* .notification .is-size-7 */
  position: relative;
  margin-bottom: 1.5rem;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  border-radius: 4px;
}

.information {
  /* .notification */
  position: relative;
  margin-bottom: 1.5rem;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  border-radius: 4px;
  background-color: var(--light-overlay);
}

.floatleftpadding {
  margin-bottom: 1rem;
}

dl.settings dt {
  display: flex;
  align-items: flex-start;
  width: 300px;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

dl.settings dt > span {
  width: calc(100% - 2rem);
}

dl.settings dt a.help {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

dl.settings dt a.help img {
  height: 1rem;
  width: 1rem;
}

dl.settings dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  dl.settings {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    align-items: flex-start;
  }

  dl.settings dd {
    margin-bottom: 0;
  }
}

dl.settings dd.alert {
  grid-column: span 2;
}

ul.theme_options {
  list-style: none;
  margin-left: 0;
}

li.theme_option {
  margin-bottom: 0.5rem;
}

.error {
  color: var(--danger);
}

.bbc_u {
  text-decoration: underline;
}

.fperm {
  margin-left: auto;
}

.flow_hidden {
  display: flex;
}

.flow_hidden .floatright {
  margin-left: auto;
}

.settings .righttext {
  display: flex;
  justify-content: flex-end;
}

.padding {
  padding: 1rem 0;
}

/* --- Form Input Types --- */

#admin_content input[type="text"],
#admin_content input[type="password"],
#admin_content textarea,
#admin_content select,
#admin_content button,
#admin_content input[type="submit"] {
  align-items: center;
  border: 1px solid transparent;
  xborder-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  xpadding-left: calc(0.625em - 1px);
  xpadding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

#admin_content textarea {
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  border-color: #dbdbdb;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

#admin_content input[disabled],
#admin_content select[disabled],
#admin_content textarea[disabled] {
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}

#admin_content select {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  max-width: 100%;
}

#admin_content input[type="checkbox"] + label {
  width: calc(100% - 2rem);
  margin-left: 0.5rem;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

dt input[type="checkbox"], 
dt input[type="radio"] {
  position: relative;
  top: 0.45em;
}

/* --- Buttons --- */

#admin_content input[type="submit"] {
  /* Duplicates button is-primary */
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;

  /* .button.is-primary */
  background-color: var(--primary);
  border-color: transparent;
  color: var(--white);
}

  #admin_content input[type="submit"]:hover,
  #admin_content input[type="submit"]:focus {
    background-color: var(--primary-dark);
  }

/* --- Tables --- */
/* Mimics .table.is-bordered */

#admin_content .table_grid {
  margin-bottom: 1.5rem;
}

#admin_content .table_grid td,
#admin_content .table_grid th {
  border: 1px solid #dbdbdb;
  border-width: 1 1 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

#admin_content .table_grid th {
  text-align: left;
}

#admin_content .table_grid td,
#admin_content .table_grid th {
  border-width: 1px;
}

#admin_content .table_grid tr:last-child td,
#admin_content .table_grid tr:last-child th {
  border-bottom-width: 1px;
}

/* --- ManageBoards --- */
/* This class is added on line 60 ManageBoards.template.php */

.pensieve_manage-boards_category {
  margin-bottom: 1rem;
}

.pensieve_manage-boards_category ul {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
}

.pensieve_manage-boards_category li {
  display: flex;
  padding: 0.5rem 0.5rem;
  line-height: 1;
}

.pensieve_manage-boards_category .floatright {
  margin-left: auto;
}

/* --- ManagePermissions --- */

.perm_boards.flow_hidden {
  display: block;
}

.perm_board {
  margin-right: 1rem;
}

.perm_board a {
  text-decoration: none;
}

/* --- Register --- */

dl.register_form dt {
  display: flex;
  align-items: flex-start;
  width: 300px;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

dl.register_form dt a.help {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

dl.register_form dt a.help img {
  height: 1rem;
  width: 1rem;
}

dl.register_form dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  dl.register_form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    align-items: flex-start;
  }

  dl.register_form dd {
    margin-bottom: 0;
  }
}

dt strong + .smalltext {
  width: 100%;
}

/* Styles used by the auto suggest control.
------------------------------------------------------- */
.auto_suggest_div
{
  border: 1px solid #000;
  position: absolute;
  visibility: hidden;
  background: var(--dark);
}
.auto_suggest_item
{
  background-color: var(--dark);
}
.auto_suggest_item_hover
{
  background-color: var(--darkcyan);
  cursor: pointer;
  color: #eee;
}